/* Main Styles */
html, body{
  font-family: 'Overpass', sans-serif;
  padding:0px;
  margin:0px;
  background:#727A7C;
}
body{
  max-width:1000px;
}
/* Navigation Styles */
#nav-toggle{
  position:absolute;
  top:-9999px;
  left:-9999px;
}

#nav-container{
  visibility:hidden;
  opacity: 0;
  transition: all .25s;
}
#nav{
  user-select:none;
}

#nav-toggle-btn{
  display:flex;
}

.nav-toggle-center{
  display:inline-block;
  margin:auto;
  width:1em;
  height:1em;
}
.nav-toggle-center i{
  background:#1C2020;
  color:white;
  position:absolute;
  text-align:center;
  top:1.2em;
  right:1.2em;
  transition: all 0.2s;
}

#nav-toggle-btn .hide{
   display:none; 
}
#nav-toggle:checked ~ #nav-toggle-btn .hide{
  display:inline-block;
}

#nav-toggle:checked ~ #nav-container{
  visibility:visible;
  opacity: 1;
}

#nav{
  position:absolute;
  
  left:0;
}
#nav ul{
  padding:0px;
  margin:0px;
  list-style:none;
}

#nav ul li,
#nav-toggle-btn{
  font-size:16px;
  transition: all 0.25s;
  width:120px;
  height:120px;
  background: #1C2020;
  display:flex;
  text-align:center;
}
#nav ul li:hover,
#nav-toggle-btn:hover,
#nav-toggle-btn:hover > .nav-toggle-center *{
  background:#2f2f2f;
}
#nav ul li *{
  text-decoration:none;
  color:white;
  margin:auto;
}

#nav .material-icons{
  font-size:36px;
}

/* Content Styles */
.content{
  background:#1C2020;
  color:white;
  text-align:center;
  height:120px;
  display:flex;
  margin-left:120px;
}

.content .title{
  margin:auto;
  font-size:30px;
}

