<div class="header">
   <div class="title">
      <a class="text" href="/"><h3>SEAN CODES</h3></a>
      <a class="email" href="mailto:sean_codes@outlook.com">sean_codes@outlook.com</a>
   </div>
</div>
