<div class="badgebar">
    <div class="badge">
        <a href="https://www.instagram.com/sean_codes" target="_blank">
            <img src="{{ "/assets/images/instagram.png" | relative_url }}" alt="Instagram" />
        </a>
    </div>
    <div class="badge">
        <a href="https://www.github.com/sean-codes" target="_blank">
            <img src="{{ "/assets/images/github.png" | relative_url }}" alt="Github Profile" />
        </a>
    </div>
    <div class="badge">
        <a href="https://codepen.io/sean_codes/" target="_blank">
            <img src="{{ "/assets/images/codepen.png" | relative_url }}" alt="Codepen Profile" />
        </a>
    </div>
    <div class="badge">
        <a href="https://www.youtube.com/watch?v=P9AiPgaGHQE" target="_blank">
            <img src="{{ "/assets/images/youtube.png" | relative_url }}" alt="YouTube Profile" />
        </a>
    </div>
</div>
<div class="badgebar">
    <div class="badge">Instagram</div>
    <div class="badge">Github</div>
    <div class="badge">Codepen</div>
    <div class="badge">YouTube</div>
</div>
