<a class="badge" href="https://www.codepen.io/sean_codes" target="_blank">
   <img src="/assets/images/codepen.png">
   <p class="label">CodePen</p>
</a>
<a class="badge" href="https://www.github.com/sean-codes" target="_blank">
   <img src="/assets/images/instagram.png">
   <p class="label">GitHub</p>
</a>
<a class="badge" href="https://www.instagram.com/sean_codes" target="_blank">
   <img src="/assets/images/instagram.png">
   <p class="label">Instagram</p>
</a>
<a class="badge" href="https://www.youtube.com/watch?v=HVzMqcwTZr8" target="_blank">
   <img src="/assets/images/youtube.png">
   <p class="label">YouTube</p>
</a>
