<!-- <footer class="site-footer container">
  <div class="footer">
      © 2017 {{site.myname}}:
      {% if site.github_username %}
        <a href="https://github.com/{{site.github_username}}">Github</a>
      {% endif %}
      {% if site.github_username %}
         | <a href="https://codepen.io/{{site.codepen_username}}">Codepen</a>
      {% endif %}
      {% if site.instagram_username %}
        | <a href="https://instagram.com/{{site.instagram_username}}">Instagram</a>
      {% endif %}
  </div>
</footer> -->
<canvas></canvas>
<script src="/assets/script.js"></script>
