<header class="site-header container" role="banner">
    <div class="row" id="banner">
        <div class="four columns">
            <img class="shadow" src='{{ "/assets/images/me.jpg" | relative_url }}' alt="sean"/>
        </div>
        <div class="eight columns">
            <a href="/" class="navbar-link" style="margin-left:0px"><h4 style="display:inline-block">Sean Codes</h4></a>
            <p>{{ site.description | escape}}</p>
            <div class="hide-medium">
                {% include badge.html %}
            </div>
        </div>
    </div>
    <div class="show-medium row">
        <div class="twelve columns">
                {% include badge.html %}
        </div>
    </div>
    <!-- Reset Posts -->
    {% if page.url == "/" %}
    <div class="recent-posts">
        <b>NEW:</b>
        {% for answer in site.posts limit:3 %}
        <h6><a class="post-link" href="{{ answer.url | relative_url }}"><b>{{answer.type | capitalize }}</b>: {{answer.title}}</a></h6>
        {% endfor %}
    </div>
    {% endif %}
    <nav class="navbar u-pull-right">
        <ul class="navbar-list">
            <li class="navbar-item">
                <a class="navbar-link {% if page.url == "/" %}current{% endif %}" href="{{"/" | relative_url}}">Story</a>
            </li>
            <li class="navbar-item">
                <a class="navbar-link {% if page.url == "/answers/" %}current{% endif %}" href="{{"answers" | relative_url}}">Answers</a>
            </li>
            <li class="navbar-item">
                <a class="navbar-link primary {% if page.url == "/contact/" %}current{% endif %}" href="{{"contact" | relative_url}}">Contact</a>
            </li>
        </ul>
    </nav>
</header>
