<div class="projects">
   <div class="project">
      <img src="/assets/images/project1.png">
      <div class="info">
         <p><b>CS-SOCKETS</b></p>
         <p>Text based networking server for snappy websocketing in Node.js</p>
         <p><a href="https://github.com/sean-codes/cs-sockets" target="_blank">view source</a></p>
      </div>
   </div>
   <div class="project">
      <img src="/assets/images/project2.png">
      <div class="info">
         <p><b>CUBE WARRIOR</b></p>
         <p>Platforming adventure game. Collect gear and fight monsters.</p>
         <p><a href="https://sean-codes.github.io/cube-warrior/" target="_blank">visit site</a></p>
      </div>
   </div>
   <div class="project">
      <img src="/assets/images/project3.png">
      <div class="info">
         <p><b>CS-ENGINE</b></p>
         <p>A mobile first responsive game development engine for 2D game</p>
         <p><a href="https://github.com/sean-codes/cs-engine" target="_blank">view source</a></p>
      </div>
   </div>
</div>
