---
layout: default
---

<div class="container">
    {{ content }}
    <p>I'm excited to hlep you with what your working on! Please feel free to contact me about:</p>
    <ul>
        <li>Questions you have or help with projects</li>
        <li>Professional freelancing work</li>
        <li>You're in Chicago over the weekend and want to party or ride bikes</li>
    </ul>
    <form onsubmit="return false;" method="POST" id="formContact">
        <div class="row">
            <div class="six columns">
                <label for="exampleEmailInput">Your email or social media</label>
                <input class="u-full-width" type="text" placeholder="test@mailbox.com" id="email">
            </div>
            <div class="six columns">
                <label for="exampleRecipientInput">Reason for contacting</label>
                <select class="u-full-width" id="reason">
                    <option>Questions</option>
                    <option>Freelancing</option>
                    <option>Ride Bikes</option>
                </select>
            </div>
        </div>
        <label for="exampleMessage">Message</label>
        <textarea class="u-full-width" placeholder="Hi Sean! …" id="message"></textarea>
        <input class="button-primary" type="submit" value="Submit" onclick="contact()">
    </form>
    <div id="formSent" class="notify" style="display:none">
        Thanks for getting in contact! Your message has been sent!
    </div>
</div>
