-
   var badges = [
      { label: 'CodePen', link: 'https://www.codepen.io/sean_codes', img: '/assets/images/codepen.png'},
      { label: 'GitHub', link: 'https://www.github.com/sean-codes', img: '/assets/images/github.png'},
      { label: 'Instagram', link: 'https://www.instagram.com/sean_codes', img: '/assets/images/instagram.png'},
      { label: 'YouTube', link: 'https://www.youtube.com/watch?v=HVzMqcwTZr8', img: '/assets/images/youtube.png'}
   ]

.badgebar
   each badge in badges
         a.badge(src=badge.link target="_blank")
            img(src=badge.img)
            .label=badge.label
