<div class="badgebar"><a class="badge" src="https://www.codepen.io/sean_codes" target="_blank"><img src="/assets/images/codepen.png"/>
    <div class="label">CodePen</div></a><a class="badge" src="https://www.github.com/sean-codes" target="_blank"><img src="/assets/images/github.png"/>
    <div class="label">GitHub</div></a><a class="badge" src="https://www.instagram.com/sean_codes" target="_blank"><img src="/assets/images/instagram.png"/>
    <div class="label">Instagram</div></a><a class="badge" src="https://www.youtube.com/watch?v=HVzMqcwTZr8" target="_blank"><img src="/assets/images/youtube.png"/>
    <div class="label">YouTube</div></a>
</div>