<div class="projects">
  <div class="project"><img src="/assets/images/project1.png"/>
    <div class="info">
      <p class="title"><b>CS-SOCKETS</b></p>
      <p>Text based networking server for snappy websocketing in Node.js</p>
      <p><a target="_blank" href="https://github.com/sean-codes/cs-sockets">view source</a></p>
    </div>
  </div>
  <div class="project"><img src="/assets/images/project2.png"/>
    <div class="info">
      <p class="title"><b>CUBE WARRIOR</b></p>
      <p>Version 2 of my MMORPG with a new take on game networking</p>
      <p><a target="_blank" href="https://sean-codes.github.io/cube-warrior/">view source</a></p>
    </div>
  </div>
  <div class="project"><img src="/assets/images/project3.png"/>
    <div class="info">
      <p class="title"><b>CS-ENGINE</b></p>
      <p>A mobile first responsive game development engine for 2D game</p>
      <p><a target="_blank" href="https://github.com/sean-codes/cs-engine">view source</a></p>
    </div>
  </div>
</div>